@charset 'utf-8';
/* 共通部分 */
html {
  font-size: 100%;
  letter-spacing: 0.15em;
  line-height: 1.8;
  scroll-behavior: smooth;
}
:root {
  --base-color: #ECF2E4;
  --main-color: #A9BA8E;
  --accent-color: #677C45;
  --text: #6A6A6A;
  --title-font: "Raleway", serif;
  --text-font: "Noto Sans JP", serif;
}
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}
h1,
h2,
h3 {
  color: var(--text);
  font-family: var(--title-font);
  font-weight: 600;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
p,
a,
table {
  color: var(--text);
  font-size: 16px;
  font-family: var(--text-font);
  font-weight: 400;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* Header */
header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 64px;
  z-index: 1;
  background: rgba(225, 225, 225, .75);
}
.header-box {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}
.logo {
  color: var(--text);
}
.btn-menu {
  padding: 6px 12px;
  color: var(--text);
  font-size: 14px;
  border: 1px solid var(--text);
  cursor: pointer;
}
.main-nav {
  position: absolute;
  z-index: 2;
  top: 64px;
  right: 0;
  width: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(225, 225, 225, .75);
  overflow: hidden;
  transition: .5s;
}
.main-nav {
  text-align: center;
}
.main-nav a {
  color: var(--text);
}
.main-nav a:hover {
  /* display: block; */
  color: var(--text);
}
.main-nav.open-menu {
  width: 100%;
  padding: 1rem;
}
.main-nav li {
  margin: 16px 0;
  color: var(--text);
}
.border {
  padding-bottom: 4px;
  border-bottom: 2px solid #C99E9A;
}
/* 枠からはみ出す */
.home-hero {
  background-image: url('../images/animal.jpg');
  background-repeat: no-repeat;
  background-size: 70vw auto;
  background-position: right top;
  padding: 5.5rem 1rem 3rem;
}
.home-hero h1 {
  display: inline-block;
  margin: 8vw 0 12vw;
  padding: 1rem;
  background: rgba(225, 225, 225, .8);
}
/* .home-hero p {
  margin-bottom: 2rem;
} */
.home-hero a {
  display: inline-block;
  width: 100%;
  margin-top: 32px;
  padding: 12px 32px;
  background: var(--main-color);
  color: #ffffff;
  text-align: center;
}

/* Content */
.content {
  padding: 2rem 1rem;
}
.bg {
  background-color: #FFF2F0;
}
.content h2:nth-child(1) {
  margin-top: 64px;
}
.content p {
  margin-top: 16px;
}
.ct-chart-pie,
.ct-chart-bar {
  margin-top: 32px;
}

/* グラフの文字 */
.ct-label {
  font-size: 1rem;
  fill: #fff;
}
/* 円グラフ */
.ct-series-a .ct-slice-pie {
  fill: var(--accent-color)
}
.ct-series-b .ct-slice-pie {
  fill: var(--main-color)
}
.ct-series-c .ct-slice-pie {
  fill: var(--base-color)
}
.ct-series-d .ct-slice-pie {
  fill: #ccc;
}
/* 棒グラフ */
.ct-series-a .ct-bar {
  stroke: var(--accent-color);
}
.ct-bar {
  stroke-width: 16%;
}

/* job.html */
.job-title,
.form-title {
  padding-top: 32px;
  text-align: center;
}
.job-text,
.form-text {
  margin: 8px 0 48px;
}
/* 表 */
table {
  width: 100%;
}
th,
td {
  display: block;
}
th {
  padding: 8px 16px;
  background:  var(--base-color);
  text-align: left;
  vertical-align: middle;
}
td {
  margin: 8px 0 16px 8px;
}

/* タイムライン */
.timeline {
  display: inline-block;
  list-style: decimal inside;
  margin: 16px auto 96px;
}
.timeline-title {
  margin-top: 24px;
}
.timeline-content {
  margin-top: 8px;
}
/* リスト番号 */
.timeline {
  counter-reset: timeline-counter;
}
.timeline-item {
  counter-increment: timeline-counter;
  position: relative;
}
.timeline-title::before {
  content: counter(timeline-counter) ". ";
  color: var(--color);
  font-weight: 600;
  vertical-align: middle;
}

input,
textarea {
  width: 100%;
  padding: 4px;
  border: 1px solid var(--text);
}
label input {
  padding: 0;
}
input::placeholder {
  color: var(--text);
}
/* チェックボックスの装飾 */
label:nth-of-type(1),
label:nth-of-type(2) {
  margin-right: 16px;
}
input[type='checkbox'] {
  opacity: 0;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}
input[type='checkbox'] + span::before {
  display: inline-block;
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 8px;
  padding: 0 2px;
  border: 1px solid var(--text);
  vertical-align: middle;
  /* Font Awesome */
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}
input[type='checkbox']:checked + span::before {
  content: '\f00c';
}
/* セレクトボックスの装飾 */
.select-box {
  position: relative;
  width: fit-content; /* ← select要素の幅に合わせる場合 */
}
select {
  -webkit-appearance: none;
  appearance: none;
  padding-right: 32px; /* 矢印のための余白 */
  width: 100%; /* 親要素幅に合わせる */
  color: var(--text);
}
.select-box::after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: '\f107';
  position: absolute;
  top: 50%;
  right: 12px; /* ← 選択項目からの距離 */
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--text);
}
.submit-btn {
  margin: 32px auto 64px;
  padding: 12px 48px;
  background: var(--main-color);
  color: #ffffff;
}

/* Footer */
footer {
  padding: 32px 0;
  background: var(--main-color);
  text-align: center;
}
footer a {
  display: inline-block;
  padding: 12px 32px;
  background: #333333;
  color: #ffffff;
}
footer ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  margin-top: 32px;
}
.form-footer {
  margin-top: 0;
}
footer li {
  color: #ffffff;
  font-size: 14px;
}

@media (min-width: 768px) {
  /* Header */
  .sp {
    display: none;
  }
  .main-nav {
    display: flex;
    flex-direction: row;
    position: static;
    width: auto;
    background: none;
    overflow: visible;
  }
  .main-nav li {
    margin-left: 32px;
  }
  /* 枠からはみ出す */
  .home-hero {
    padding: 16vw 1rem;
  }
  .home-hero h1 {
    margin: 0 0 2vw;
    padding: 0;
    background: none;
  }
  .home-hero p {
    width: 38vw;
  }
  .home-hero a {
    width: initial;
  }
  /* 画像とテキストを互い違いに表示 */
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    padding: 4rem 1rem;
  }
  .row-reverse {
    flex-direction: row-reverse;
  }
  .content h2:nth-child(1) {
    margin-top: 0;
  }
  .home-text {
    flex: 2;
  }
  .ct-chart-pie,
  .ct-chart-bar {
    flex: 1;
  }
  /* 表 */
  table {
    border-collapse: collapse;
  }
  th {
    min-width: 140px;
    white-space: nowrap;
  }
  td {
    padding: 12px 18px;
  }
  th,
  td {
    display: table-cell;
  }
  tr:nth-child(odd) {
    background: var(--base-color);
  }
  tr:nth-child(even) th {
    background: #ffffff;
  }
  /* タイムライン */
  .timeline {
    margin: 48px auto 96px;
  }
  .timeline-item {
    display: flex;
  }
  .timeline-title {
    display: inline-block;
    width: 24%;
    margin-top: 0;
    padding: 2rem 2.5rem 2rem 0;
    text-align: right;
  }
  .timeline-content {
    width: 76%;
    border-left: 5px solid var(--base-color);
    margin-top: 0;
    padding: 1.5rem 0 1.5rem 2.5rem;
    position: relative;
  }
  .timeline-content::before {
    position: absolute;
    top: 1.5rem;
    left: -1.5rem;
    width: 2.25rem;
    height: 2.25rem;
    padding: 4px 0 0 2px;
    background: var(--main-color);
    text-align: center;
    /* Font Awesome */
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #ffffff;
  }
  .icon-file::before {
    content: '\f56e';
  }
  .icon-code::before {
    content: '\f121';
  }
  .icon-chat::before {
    content: '\f086';
  }
  .icon-hand::before {
    content: '\f2b5';
  }
  
  /* Footer */
  footer ul {
    flex-direction: row;
    gap: 32px;
  }
}
